html,
body {
    margin: 0;
    background: none;
    font-size: $size_default;
    font-weight: 400;
}

body {
    min-height: 100%;
}

.wrapper {
    min-height: 100vh;
}

.main {
    min-height: calc(100vh - #{$footer_hight});
}


html {
    &[dir=rtl] {
        font-family: 'SF';

        body {
            font-family: 'SF';
        }
    }
}