html,
body {
    margin: 0;
    background: none;
    font-size: $size_default;
    font-weight: 400;
}

body {
    min-height: 100%;
}

.wrapper {
    min-height: 100vh;
}

.main {
    min-height: calc(100vh - #{$footer_hight});
}

iframe {
    display: none;
}

.btn {
    &-primary {
        background-color: $color_secondary;
        border-color: $color_secondary;
        font-weight: 500;
        font-size: $size-sm;

        &:hover,
        &:focus {
            background-color: $color_secondary;
            border-color: $color_secondary;
        }
    }

    &-danger {
        font-weight: 500;
        font-size: $size-sm;
    }
}


html {
    &[dir=rtl] {
        font-family: 'SF';

        body {
            font-family: 'SF';
        }
    }
}