@font-face {
    font-family: 'SF';
    src: url('../fonts/FFShamelFamily-UniqueLight.eot');
    src: url('../fonts/FFShamelFamily-UniqueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFShamelFamily-UniqueLight.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-UniqueLight.woff') format('woff'),
        url('../fonts/FFShamelFamily-UniqueLight.ttf') format('truetype'),
        url('../fonts/FFShamelFamily-UniqueLight.svg#FFShamelFamily-UniqueBold') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF';
    src: url('../fonts/FFShamelFamily-UniqueBook.eot');
    src: url('../fonts/FFShamelFamily-UniqueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFShamelFamily-UniqueBook.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-UniqueBook.woff') format('woff'),
        url('../fonts/FFShamelFamily-UniqueBook.ttf') format('truetype'),
        url('../fonts/FFShamelFamily-UniqueBook.svg#FFShamelFamily-UniqueBook') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF';
    src: url('../fonts/FFShamelFamily-UniqueMedium.eot');
    src: url('../fonts/FFShamelFamily-UniqueMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFShamelFamily-UniqueMedium.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-UniqueMedium.woff') format('woff'),
        url('../fonts/FFShamelFamily-UniqueMedium.ttf') format('truetype'),
        url('../fonts/FFShamelFamily-UniqueMedium.svg#FFShamelFamily-UniqueMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF';
    src: url('../fonts/FFShamelFamily-UniqueBold.eot');
    src: url('../fonts/FFShamelFamily-UniqueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FFShamelFamily-UniqueBold.woff2') format('woff2'),
        url('../fonts/FFShamelFamily-UniqueBold.woff') format('woff'),
        url('../fonts/FFShamelFamily-UniqueBold.ttf') format('truetype'),
        url('../fonts/FFShamelFamily-UniqueBold.svg#FFShamelFamily-UniqueBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}