$footer_hight: 76px;

// COLORS
$color_primary: #8D5DA7;
$color_secondary: #45A787;
$color_third: rgb(255, 208, 76);

$color_base: #fff;
$color_black: #000;

// FONT
$size_lg: 25px;
$size_md: 18px;
$size_default: 16px;
$size_sm: 14px;
$size_xs: 12px;
$size_xxs: 10px;