@import '../../../assets/scss/vars';

.sidebar {
    max-width: 320px;
    background-color: $color_primary;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (max-width: 1000px) {
        max-width: 50px;
    }

    .logo {
        img {
            max-width: 167px;

            &.lg {
                @media screen and (max-width: 1000px) {
                    display: none;
                }
            }

            &.sm {
                display: none;

                @media screen and (max-width: 1000px) {
                    display: block;
                    max-width: 100%;
                }
            }
        }
    }

    .user {
        color: $color-base;
        font-size: 18px;
        line-height: 20px;
        position: relative;
        display: table;
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;

        @media screen and (max-width: 1000px) {
            display: block;
            padding: 0;
        }

        h6 {
            display: block;
            font-weight: 500;
            font-size: $size_xs;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }

        &:before {
            content: "";
            height: 4px;
            width: 54px;
            position: absolute;
            background-color: #fff;
            bottom: -15px;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }

        * {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            padding: 0 10px;
            margin: 0;
            font-weight: 700;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);

        h4 {
            opacity: 0.5;
            color: rgba(255, 255, 255, 0.5);
            
            font-weight: bold;
            padding: 15px 15px 0 0;
            margin-bottom: 0;

            @media screen and (max-width: 1000px) {
                display: none;
            }
        }

        li {
            
            font-weight: 300;
            line-height: 16px;

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
                display: block;
                padding: 15px 15px;
                transition: all 300ms;
                font-weight: 400;
                font-size: $size-xs;

                @media screen and (max-width: 1000px) {
                    text-align: center;
                }

                * {
                    display: inline-block;
                    vertical-align: middle;
                }

                i {
                    font-size: 17px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-left: 10px;
                    transition: all 300ms;

                    @media screen and (max-width: 1000px) {
                        margin: 0;
                    }
                }

                span {
                    @media screen and (max-width: 1000px) {
                        display: none;
                    }
                }

                &.active {
                    background-color: $color-secondary;
                    color: rgba(255, 255, 255, 1);

                    i {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }

            &:hover {
                a {
                    background-color: $color-secondary;
                    color: rgba(255, 255, 255, 1);

                    i {
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }

    &__footer {
        padding: 0 4px;
        margin-top: auto;
    }

    &__Cr {
        background: $color-base;
        min-height: 142px;
        margin-bottom: 4px;
        padding: 20px;

        &-title {
            color: $color-black;
            font-weight: bold;
            margin-top: 5px;
        }

        &-description {
            font-size: 16px;
            font-weight: 500;

            a {
                color: #4D39C4;
                text-decoration: none;
            }
        }
    }

    &__Cl {
        background-color: rgba(255, 255, 255, .1);
        min-height: 114px;
        margin-bottom: 25px;
        padding: 20px;

        &-title {
            color: $color-base;
            font-weight: bold;
            line-height: 16px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        &-button {
            background: $color-base !important;
            color: #483BC8 !important;
            font-size: 12px !important;
            font-weight: bold;
            padding: 7px 17px 9px !important;
            text-decoration: none;
            letter-spacing: normal !important;
        }
    }

    &__copyrights {
        text-align: center;
        padding: 0 20px 10px;

        &-logo {
            margin-bottom: 15px;

            img {
                max-width: 80px;
            }
        }

        &-text {
            display: block;
            color: $color-base;
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            margin-bottom: 8px;
            line-height: 16.4px;
            letter-spacing: 0.09px;
        }
    }
}

html {
    &[dir=ltr] {
        .sidebar {
            .user {
                .logout {
                    right: 10px;
                    left: auto;
                }
            }

            ul {
                li {
                    a {
                        i {
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    }
                }

                h4 {
                    padding: 15px 0 0 15px;
                }
            }
        }
    }
}