@import '../../assets/scss/vars';

.payment-number-w {
    position: relative;

    .card-type {
        position: absolute;
        left: 15px;
        top: 9px;
        width: 66px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        overflow: hidden;

        img {
            max-height: 100%;
        }
    }
}

.date {
    display: table;
    width: 100%;
    border: solid 1px $color_primary;

    .control {
        display: inline-block;
        vertical-align: top;
        width: 50%;

        input {
            border: none;
        }
    }

    &.is-invalid {
        border-color: #dc3545;
    }
}